# Appended to modules/system/init.te in meta-selinux

allow init_t self:process execstack;
allow init_t self:process execmem;
dev_relabelto_irsc_util(kernel_t)
